/* images for file main */

@namespace context url('http://www.contextgarden.net/context/export') ;


[image="main-image-1"] {
    display : block ;
    content : url('../images/puj') ;
    width   : 136.571pt ;
    height  : 53.104pt ;
}

[image="main-image-2"] {
    display : block ;
    content : url('../images/puj_facu') ;
    width   : 136.012pt ;
    height  : 34.143pt ;
}

[image="main-image-3"] {
    display : block ;
    content : url('../images/eh') ;
    width   : 101.832pt ;
    height  : 28.453pt ;
}